@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700|Lato:400,900);


//------------------------Fonts

$mainFont:		'Open Sans', sans-serif;
$headlineFont:	'Lato', sans-serif;

//------------------------Font Sizing

$minFontSize:	11px;
$smFontSize:	13px;
$regFontSize:	16px;
$medFontSize:	20px;
$lgFontSize:	30px;
$xlFontSize:	60px;

//------------------------Colors

$accentColor:  	#f18c40;
$secondaryColor:#3E92A3;
$black: 		#555;
$white:			#FFF;
$light-grey:	#EEE;
$light:			#AFEBFA;
$dark:			#2c3e50;

//-----------------GG Colors

$pink:			#D93651;
$blue:			#5186FC;
$purple:		#5B3A61;

//-----------------------Spacing

$mic:			3px;
$tny:			8px;
$sm:			15px;
$reg:			30px;
$med:			45px;
$lg:			60px;
$xl:			90px;
$xxl:			120px;


//-----------------------Sizing

$largeColumnWidth:	854px;
$smallColumnWidth:	285px;



//---------------------Specials for variables