@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700|Lato:400,900);


//------------------------Fonts

$mainFont:		'Open Sans', sans-serif;
$headlineFont:	'Lato', sans-serif;

//------------------------Colors

$accentColor:  	#f18c40;
$secondaryColor:#3E92A3;
$black: 		#555;