@import '../lib/bourbon/app/assets/stylesheets/bourbon';
@import '../lib/susy/sass/susy';
@import '../lib/breakpoint-sass/stylesheets/breakpoint';
@import 'reset';
@import 'variables';

$susy: (
  columns: 12,
  gutters: 1,
  math: fluid,
  output: float,
  gutter-position: after
);


//--------------------------------------------Styles

*{
	box-sizing:border-box;
}

body{
	color:$black;
	font-family:$mainFont;
	background-color:$light-grey;
	line-height:1.5;
}

br{
	display:block;
	height:$reg;
}

.wrapper{
	@include container(1140px);
}

a{
	color:$secondaryColor;
	text-decoration:none;
}

h1,h2,h3,h4,h5,h6{
	font-family:$headlineFont;
	font-weight:800;
}

header{
	width:100%;
	background-color:$accentColor;
	padding:$sm 0;

	a{
		color:$white;
	}

	nav{
		float:right;

		li{
			display:inline-block;
			margin-left:$sm;
		}
	}
}


//------------------------Page Styling

.page{
	margin-top:$sm;
}

//------------------------Home Page Styling

.home{

}

.hero{
	height:60vh;
}

.recent-updates{
	background-color:$white;
	padding:$sm;
	margin:$sm 0;
	max-width:$largeColumnWidth;

	h4{
		color:$accentColor;
	}

	.post{
		padding:$sm 0;

		h2{
			font-size:$medFontSize;
			color:$secondaryColor;
		}

		.date{
			margin-bottom:$sm;
		}

		.divide{
			height:1px;
			width:$xxl;
			margin:$sm auto 0 auto;
			background-color:$light-grey;
		}
	}
}

//------------------------Videos Page / Playlists Page

.videos, .playlists{

	.show-hide{
		cursor:pointer;
		color:$secondaryColor;
		width:$xxl;
		padding-top:$reg;
		margin:auto;
		margin-bottom:$reg;
		display:block;
		text-align:center;
		clear:both;
	}

}

.video-snippet, .playlist-snippet{
	float:left;
	margin-top:$sm;
	@include span(4 of 12);
	clear:right;

	&:nth-child(3n){
		@include last();
	}
}


//------------------------Video Page

.video{

}


//-----------------------Video Info Tab

.vid-info{
	margin:$sm 0px;
	max-width:$largeColumnWidth;
	padding:$sm;
	background-color:$white;


	h1{
		color:$secondaryColor;
		font-size:$medFontSize;
	}

	.description{
		margin-top:$sm;
		height:$lg + $sm;
		overflow:hidden;
		@include transition(0.2s);

		&.full{
			height:auto;
		}
	}

	.show-hide{
		cursor:pointer;
		color:$secondaryColor;
		width:$xxl;
		margin:$sm auto 0 auto;
		display:block;
		text-align:center;
	}
}


//--------------------------Comments Section

.comments{
	margin:$sm 0;
	padding:$sm;
	background-color:$white;
	max-width:$largeColumnWidth;

	.no-comments{

	}
}

//------------------------Playlists Page

