
<div class="page home">
	<div class="hero">
		<div class="wrapper">
			<a href="http://1shirt.com/collections/gamegrumps"><img src="http://cdn.shopify.com/s/files/1/0610/3201/t/11/assets/slide7.jpg?11089992808231787269" alt=""></a>
		</div>
	</div>

	<div class="wrapper">
		<div class="featured-videos">
			<h4>Featured Videos</h4>

			<div class="featured-snippet">
				<a ng-href="/#/videos/T2ucvZYxhMs" href="/#/videos/T2ucvZYxhMs">
					<img src="https://i.ytimg.com/vi/T2ucvZYxhMs/mqdefault.jpg" alt="">
					<p class="title ng-binding">A Very Grumpy Christmas</p>
				</a>
			</div>

			<div class="featured-snippet">
				<a ng-href="/#/videos/FiIPm44B-As" href="/#/videos/FiIPm44B-As">
					<img src="https://i.ytimg.com/vi/FiIPm44B-As/mqdefault.jpg" alt="">
					<p class="title ng-binding">Game Grumps Animated - Liquid Game Grumps! - by Cody Hawley</p>
				</a>
			</div>

			<div class="featured-snippets">
				<div class="featured-snippet">
					<a ng-href="/#/videos/ieffffMlnGo" href="/#/videos/ieffffMlnGo">
						<img src="https://i.ytimg.com/vi/ieffffMlnGo/mqdefault.jpg" alt="">
						<p class="title ng-binding">Table Flip NEW EPISODE on Sling</p>
					</a>
				</div>

				<div class="featured-snippet">
					<a ng-href="/#/videos/lOWUkKGZWEQ" href="/#/videos/lOWUkKGZWEQ">
						<img src="https://i.ytimg.com/vi/lOWUkKGZWEQ/mqdefault.jpg" alt="">
						<p class="title ng-binding">Game Grumps Animated - Liquid Game Grumps! - by Cody Hawley</p>
					</a>
				</div>	
			</div>
		</div>

		<div class="recent-videos">
			<h4>Recent Videos</h4>

			<div class="featured-snippets">
				<span ng-show="recentLoading" class="recentLoading"><img src="components/img/loading.gif" alt="" width="60px"></span>
				<div class="featured-snippet" ng-repeat="v in mostRecent">
					<a ng-href="/#/videos/{{v.contentDetails.videoId}}" href="/#/videos/{{v.contentDetails.videoId}}">
						<img src="https://i.ytimg.com/vi/{{v.contentDetails.videoId}}/mqdefault.jpg" alt="">
						<p class="title ng-binding">{{v.snippet.title}}</p>
					</a>
				</div>
			</div>
		</div>
		<div class="recent-updates">
			<h4>Recent Updates</h4>

			<div class="post">
				<h2>Updated the Uploads, and added more Homepage</h2>
				<h3 class="date">November 30, 2015</h3>
				<p>
					I fixed some of the issues (some) with the recent uploads functionality, but it still has a bit to go. I also added some placeholder stuff for the home page, fitting of the grumps.
				</p>

				<div class="divide"></div>
			</div>

			<div class="post">
				<h2>This is a Fan Made Site!</h2>
				<h3 class="date">November 17, 2015</h3>
				<p>
					This isn't an official site for the Game Grumps! But they don't have one so here you go.
				</p>

				<div class="divide"></div>
			</div>

			
		</div>

		<div class="social">
			<h4>Social Media</h4>

			<span class="youtube"><a href="https://youtube.com/gamegrumps">&#xe051;</a></span>
			<span class="twitter"><a href="https://twitter.com/gamegrumps">&#xe040;</a></span>
			<span class="reddit"><a href="https://reddit.com/r/gamegrumps">&#xe022;</a></span>
			<span class="instagram"><a href="https://www.instagram.com/gamegrumpsofficial/?hl=en">&#xe057;</a></span>
		</div>
	</div>
</div>