
<div class="page home">
	<div class="hero">
		<div class="wrapper">

		</div>
	</div>

	<div class="wrapper">
		<div class="recent-updates">
			<h4>Recent Updates</h4>

			<div class="post">
				<h2>Making A Static Version of the Site</h2>
				<h3 class="date">November 17, 2015</h3>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, maiores. Quia doloribus repellat ex voluptas, minima tempore aperiam omnis illum accusamus recusandae quibusdam, assumenda rerum vel unde porro ut veniam!
				</p>

				<div class="divide"></div>
			</div>

			<div class="post">
				<h2>Making A Static Version of the Site</h2>
				<h3 class="date">November 17, 2015</h3>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, maiores. Quia doloribus repellat ex voluptas, minima tempore aperiam omnis illum accusamus recusandae quibusdam, assumenda rerum vel unde porro ut veniam!
				</p>

				<div class="divide"></div>
			</div>
		</div>
	</div>
</div>