<div class="playlists page">
	<div class="wrapper">
		<h3>Playlists</h3>
		<div class="playlist-snippets">
			<div class="playlist-snippet" ng-repeat="p in playlists">
				<a ng-href="/#/playlists/{{p.id}}">
					<img src="{{p.snippet.thumbnails.medium.url}}" alt="">
					<p class="title">{{p.snippet.title}}</p>
				</a>
			</div>
			<span class="show-hide" ng-hide="loading || !nextToken">Show More</span>
			<span class="show-hide" ng-show="loading"><img src="components/img/loading.gif" alt="" width="60px"></span>
		</div>
	</div>
</div>