<div class="videos page">
	<div class="wrapper">
		<form class="search-area" ng-submit="findQuery()">
			<input type="text" placeholder="Find Some Grumpy Vids Yo" ng-model="searchQuery">
			<input class="submitSearch" type="submit" value="Search">
		</form>

		<div class="results">
				<div class="video-snippet" ng-repeat="v in results.items">
					<a ng-href="/#/videos/{{v.id.videoId}}" ng-show="v.id.videoId">
						<img src="{{v.snippet.thumbnails.medium.url}}" alt="">
						<p class="title">{{v.snippet.title}}</p>
					</a>

					<a ng-href="/#/playlists/{{v.id.playlistId}}" ng-show="v.id.playlistId">
						<img src="{{v.snippet.thumbnails.medium.url}}" alt="">
						<p class="title">{{v.snippet.title}}</p>
					</a>
				</div>

				<span class="show-hide" ng-hide="searchLoading || !results.nextPageToken" ng-click="findMore()">Show More</span>
				<span class="show-hide" ng-show="searchLoading"><img src="components/img/loading.gif" alt="" width="60px"></span>
			</div>
		</div>
	</div>
</div>